.Drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateX(0px);
    transition: all 0.3s;
    z-index: 10;
    cursor: pointer;
} 
.Drawer.closed {
    transform: translateX(-300px);
}
.Drawer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.Drawer li {
    margin-bottom: 10px;
}
.Drawer a {
    color: #363d54;
    font-size: 30px;
    text-decoration: none;
    display: block;
    padding: 5px;
}
.Drawer a.active,
.Drawer a:hover {
    color: blue;
}